body {
    background-color: #000;
}

.contactus-container {
    margin: 0;
    height: 100vh;
    padding: 4vw 10vw;
}

.row {
    margin: 0;
}

.container-belt {
    z-index: -1;
    position: absolute;
    background-color: white;
    height: 15vw;
    width: 100vw;
}

.shield-logo {
    position: relative;
    border-radius: 50%;
    padding: 1.5vw;
    background-color: white;
    display: block;
    margin: auto;
    width: 20vw;
    height: 20vw;
}

.contactus-title {
    text-align: center;
    position: relative;
    font-size: 2.5rem;
    color: #fff;
    margin: auto;
    font-family: 'avengers-fonts', 'sans-serif';
}

.contactus-text {
    width: 80vw;
}

.address-pnone-email {
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

.address-pnone-email a {
    text-decoration: none;
    color: white;
}

@media (max-width: 780px) {
    .address-pnone-email {
        font-size: 2.3rem;
    }
}

/*begin:developers*/
.dev-category-container {
    position: absolute;
    bottom: 10vh;
    width: 100vw;
}

.contect-tab {
    position: relative;
    top: -10px;
    margin: auto;
    height: 30vh;
    border-radius: 5px;
    background: #fff;
}

.dev-category {
    padding: 10px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    width: 50vw;
    text-align: center;
}

.developers-container {
    display: none;
}

.developers-container.active {
    display: block;
}

.dev-animation-open {
    animation: dev-open 1s;
}

.dev-animation-close {
    animation: dev-close 1s;
}

.developer {
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 780px) {
    .dev-category {
        width: 90vw;
    }
}

@keyframes dev-open {
    from {
        height: 0;
    }
    to {
        height: 30vh;
    }
}

@keyframes dev-close {
    from {
        height: 30vh;
    }
    to {
        height: 0;
    }
}

.developers-background {
    background: url("../img/category/categoty-background/deadpool-love.jpg") center center;
    background-size: cover;
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: block;
    margin: auto;
}
