body {
    background-color: #000;
}

a {
    text-decoration: none;
}

.behance {
    height: 50px;
    width: 50px;
}

.contactus-container {
    margin: 0;
    height: 100vh;
    padding: 4vw 10vw;
}

.row {
    margin: 0;
}

.container-belt {
    z-index: -1;
    position: absolute;
    background-color: white;
    height: 15vw;
    width: 100vw;
}

.shield-logo {
    position: relative;
    border-radius: 50%;
    padding: 1.5vw;
    background-color: white;
    display: block;
    margin: auto;
    width: 20vw;
    height: 20vw;
}

.contactus-title {
    text-align: center;
    position: relative;
    font-size: 2.5rem;
    color: #fff;
    margin: auto;
    font-family: 'avengers-fonts', 'sans-serif';
}

.contactus-text {
    width: 80vw;
}

.address-pnone-email {
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

.address-pnone-email a {
    text-decoration: none;
    color: white;
}

@media (max-width: 780px) {
    .address-pnone-email {
        font-size: 2.3rem;
    }
}

/*begin:developers*/
.dev-category-container {
    position: absolute;
    top: 80vh;
}

.dev-category {
    padding: 10px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    width: 50vw;
    text-align: center;
}

.developer {
    margin: 3px;
    border-radius: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
}

.developer a {
    color: black;
    text-decoration: none;
}

@media (max-width: 780px) {
    .dev-category {
        width: 90vw;
    }
}

.developers-background {
    background: url("../img/category/category-background/deadpool-love.jpg") fixed center center;
    background-size: cover;
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: block;
    margin: auto;
}
