@font-face {
    font-family: 'avengers-fonts';
    src: url('../fonts/AVENGEANCE.otf');
}

@font-face {
    font-family: 'description';
    src: url('../fonts/ABeeZee-Regular.ttf');
}

body{
    margin: 0;
}

.coming-soon {
    font-family: 'avengers-fonts', sans-serif;
    color: white;
    font-size: 40px;
    padding-top: 30px;
}

.city {
    filter: grayscale(50%);
    position: absolute;
    z-index: -3;
    max-height: 90vh;
    bottom: 0;
}

/* Modal CSS */

#event-modal {
    /*height: 100%;*/
    display: none;
    position: relative;
    z-index: 7;
    font-family: 'description', 'Roboto', sans-serif;
}

.event-row {
    height: 100vh;
    margin: 0;
    font-size: 20px;
    line-height: 1.5rem;
    color: #263238;
}

.close {
    width: 8%;
    padding: 1vw 0.5vw 2vw;
    cursor: pointer;
}

.event-description {
    padding: 20px;
}

.title {
    font-family: "Avengeance Heroic Avenger", sans-serif;
    font-size: 35px;
    line-height: 3rem;
}

.dark-col {
    background-color: rgba(255, 255, 255, 0.95);
}

.light-col {
    background-color: rgba(255,255,255, 0.95);
}

.participant-data {
    margin-bottom: 10px;
}

.chip {
    font-weight: bold;
    padding: 10px 0;
    border: 1px solid rgb(236,239,241);
    background-color: white;
}

.managers-row {
    margin: 10px 0;
}

.event-managers {
    font-weight: bold;
    text-align: center;
}

.manager-name {
    color: #222;
}

.white-text {
    color: #fff;
}
