#nontechEvents {
    background: rgba(0, 0, 0, 0.3) url("../img/category/category-background/nontech-back.svg") no-repeat center;
    position: absolute;
    height: 100vh;
    overflow: auto;
    margin: 0;
    z-index: 6;
}

.udaan-pop-heads {
    z-index: -1;
    position: absolute;
    height: 100vh;
    right: 40vw;
    width: auto;
}

.events {
    position: absolute;
    width: 60vw;
    height: 90vh;
}

.pop-head-line {
    z-index: -2;
    position: absolute;
    bottom: 0;
}

.right-facing {
    left: 0;
}

.right-facing-font {
    padding-top: 10vh;
    left: 0;
    font-family: 'avengers-fonts', sans-serif;
}

.nontech-events, .nights {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.left-facing-font {
    right: 0;
    text-align: right;
    padding-top: 10vh;
    font-family: 'avengers-fonts', sans-serif;
}


.right-category-name, .left-category-name {
    position: absolute;
    bottom: 10px;
    z-index: 5;
    height: 10vh;
    transform-origin: 0 0;
    color: black;
    font-family: 'avengers-fonts', 'sans-serif';
    font-size: 3rem;
    right: 20px;
}

.left-category-name {
    left: 20px;
}

.left-facing {
    right: 0;
}

.event-name {
    line-height: 2.5rem;
    list-style: none;
    color: white;
    font-family: "avengers-fonts", sans-serif;
    font-size: 2rem;
    cursor: pointer;
}

.modal-open-animation {
    animation: zoomIn 0.5s
}

.modal-close-animation {
    animation: zoomOut 0.5s
}

/* Media queries */

@media (max-width: 780px) {
    body{
        overflow-x: hidden;
    }
    .udaan-pop-heads {
        z-index: -1;
        position: absolute;
        height: 100vh;
        width: auto;
    }

    .right-facing {
        left: -50vh;
    }

    .left-facing {
        right: -100vw;
    }

}
