@font-face {
    font-family: 'avengers-fonts';
    src: url('../fonts/AVENGEANCE.otf');
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}

section {
    height: 100vh;
    width: 100vw;
}

/* begin: index page */
/* begin: title page */
#udaan-title-page {
    background-color: #000;

}

#udaan-logo {
    height: 85vh;
}

.footer {
    /*height: 14vh;*/
    width: 100vw;
    z-index: 5;
    text-align: center;
}

#schedule {
    width: 30vw;
    color: white;
    font-size: 2.5rem;
    font-family: 'avengers-fonts', 'sans-serif';
}

#video {
    width: 30vw;
    color: white;
    font-size: 2.5rem;
    font-family: 'avengers-fonts', 'sans-serif';
}

.social-links {
    width: 40vw;
}

/*end:titlepage*/
/* begin: tech page */

.city {
    position: absolute;
    width: 100vw;
    bottom: 0;
}

.dept-logo img {
    display: block;
    margin: auto;
    width: 20vw;
}

.dept-logo {
    margin: 0 auto;
}

.udaan-keycoder-logo {
}

.udaan-embeddrones-logo {
    margin-top: 7vh;
}

.udaan-fabfactures-logo img {
    margin-top: 2vh;
    margin-left: 9vw;
}

.udaan-machinists-logo {
    margin-top: 13vh;
}

.udaan-rezonizers-logo img {
    margin-top: -7vh;
    margin-left: 0;
}

.udaan-skyscrapers-logo {
}

/* end: tech page */
/* begin: nontech page */

/* end: nontech page */
/* end: index page */
/*begin: departments*/
.udaan-pop-heads {

    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 40vw;
}

.pop-head-line {
    /*transform: scaleX(-1);*/
    z-index: -2;
    position: absolute;
    bottom: 0;
}

#events {
    position: absolute;
    width: 60vw;
    height: 100vh;
}

.right-facing {
    left: 0;
}

.left-facing {
    right: 0;
}

.left-facing-font {
    right: 0;
}

.right-facing-font {
    left: 0;
}

/*end:departments*/

/*Modal Properties*/

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 90vh;
    width: 90vw;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

.modal-sidebar {
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    height: 100%;
    width: 7%;
}

.modal-title {
    background-color: rgba(255, 255, 255, 1);
    float: left;
    height: 100%;
    width: 30%;
}

.modal-container {
    padding: 3%;
    background-color: rgba(255, 255, 255, 1);
    float: left;
    height: 86.5%;
    width: 57%;
}

.modal-close {
    cursor: pointer;
    text-align: center;
    margin: 10px auto;
    font-size: 30px;
}

.modal-logo {
    height: 40%;
    /*padding-top: 20px;*/
}

.modal-logo img {
    height: 100%;
    width: 150px;
    display: block;
    margin: 0 auto;
}

.modal-title-content {
    height: 60%;
}

.modal-one-liner, .modal-round {
    height: 20%;
    /*border: 1px solid red;*/
    text-align: center;
}

/* Media Queries */
@media (max-width: 414px) {
    #udaan-logo {
        position: relative;
        left: 3vw;
        width: 140vw;
        height: 70vh;
    }

    #schedule, #video, .social-links {
        font-size: 2rem;
        width: 100vw;
    }
}

@media (max-width: 780px) {
    .right-facing {
        left: -250px;
    }

    .udaan-pop-heads {
        z-index: -1;
        position: absolute;
        height: 100vh;
        width: auto;
    }

    .left-facing {
        right: -300px;
    }

    #events-leftmost {
        display: none;
    }

    #events-leftmost-mobile {
        display: block;
        width: 100%;
        height: 7%;
        background-color: #ed1a23;
    }
}
